.vs/
.vscode/
.idea/
bin/
obj/
TestResults/
*.user
*.suo
*.userprefs
*.log
*.nupkg
*.pdb
packages/
coverage/
coverage*
*.trx
*.db
.env
appsettings.Local.json
appsettings.*.local.json

.ccf-feed/*.nupkg
